@font-face {
  font-family: 'BalooTammudu2-Regular';
  src:  url('./src/assets/fonts/BalooTammudu2-Regular.ttf') format('opentype')
}

@font-face {
  font-family: 'BalooTammudu2-Medium';
  src:  url('./src/assets/fonts/BalooTammudu2-Medium.ttf') format('opentype')
}

@font-face {
  font-family: 'BalooTammudu2-Bold';
  src:  url('./src/assets/fonts/BalooTammudu2-Bold.ttf') format('opentype')
}

@font-face {
  font-family: 'BalooTammudu2-SemiBold';
  src:  url('./src/assets/fonts/BalooTammudu2-SemiBold.ttf') format('opentype')
}

@font-face {
  font-family: 'BalooTammudu2-ExtraBold';
  src:  url('./src/assets/fonts/BalooTammudu2-ExtraBold.ttf') format('opentype')
}
